{% extends 'base.html.twig' %}

{% block body %}

{% if app.session.hasFlash('error') is defined %}
     {{ app.session.flashbag.get('error') }}
{% endif %}

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">ADD ADDRESS</h3>
      </div>
     <div class="panel-body">
     {{ form_start(form)}}
     {{ form_widget(form)}}
     {{ form_end(form)}}
     </div>
  </div>
{% endblock %}
