{% extends 'base.html.twig' %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-danger">
    {{ flashMessage }}
    </div>

{% endfor %}

      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">EDIT ADDRESS</h3>
      </div>
     <div class="panel-body">
     {{ form_start(form)}}
     {{ form_widget(form)}}
     {{ form_end(form)}}
     </div>
  </div>

{% endblock %}